<div class="page-hero bg-image overlay-dark" [style.backgroundImage]="'url(' + backgroundImages[currentImageIndex] + ')'">
  <div  class="hero-section">
    <div class="container text-center wow zoomIn">
      <span class="subhead">Welcome To Our Platform</span>
      <h1 class="display-4">Tuni-Work</h1>
      <div style="display: flex; justify-content: center; align-items: center; " class="floating-image">
        <img style="height: 200px; width: 200px;" src="../../../../../assets/templateDental/img/tuni-work.png" alt="Your Image">
      </div>
    </div>
  </div>
</div>




<div class="bg-light">
  <div class="page-section py-3 mt-md-n5 custom-index">
    <div class="container">
      <div class="row justify-content-center">

        <div style="margin-left: 75px;" class="col-md-4 py-3 py-md-0">
          <div class="card-service wow fadeInUp">
              <span> <img style="height: 70px;width:180px" src="../../../../../assets/templateDental/img/ani2.gif"></span>
            <p style="font-size: 16px; color: #1C3879;"><span>Start Your Business</span> As A <b>Company</b></p>
          </div>
        </div>

        <div class="col-md-4 py-3 py-md-0">
          <div class="card-service wow fadeInUp">
              <span> <img style="height: 70px;width:180px" src="../../../../../assets/templateDental/img/ani1.gif"></span>
              <p style="font-size: 16px; color: #1C3879;"><span>Start Your Career</span> As A <b>Freelancer</b></p>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
