<!--<header class="header-area header-sticky wow slideInDown" data-wow-duration="0.75s" data-wow-delay="0s">
  <div class="container">
    <div class="row">
      <div class="col-12">
        <nav class="main-nav">

          <a href="index.html" class="logo">
            <img src="assets/images/logo-v1.png" alt="">
          </a>
          <li class="scroll-to-section"><a routerLink="freelancers" class="active">Home</a></li>

          <li class="nav-item dropdown">
            <a class="" href="#" role="button" data-bs-toggle="dropdown" aria-expanded="false">
              jobs
            </a>
            <ul class="dropdown-menu">
              <li><a class="dropdown-item" routerLink="my-jobs">My Jobs</a></li>
              <li><a class="dropdown-item" routerLink="chat">Job History</a></li>

            </ul>
          </li>




          <li class="nav-item dropdown">
            <a class="nav-link dropdown-toggle" href="#" role="button" data-bs-toggle="dropdown" aria-expanded="false">
              Talent
            </a>
            <ul class="dropdown-menu">
              <li><a class="dropdown-item" routerLink="freelancers">Freelancers</a></li>
              <li><a class="dropdown-item" routerLink="#">Saved Freelancers</a></li>

            </ul>
          </li>







          <li class="nav-item dropdown">
            <a class="nav-link dropdown-toggle" href="#" role="button" data-bs-toggle="dropdown" aria-expanded="false">
              Financials
            </a>
            <ul class="dropdown-menu">
              <li><a class="dropdown-item" routerLink="#">Money Accumulated</a></li>
              <li><a class="dropdown-item" routerLink="#">Transaction History</a></li>
              <li><a class="dropdown-item" routerLink="#">Debt</a></li>
            </ul>
          </li>
          <li class="nav-item dropdown">
            <a class="nav-link dropdown-toggle" href="#" role="button" data-bs-toggle="dropdown" aria-expanded="false">
              Reports
            </a>
            <ul class="dropdown-menu">
              <li><a class="dropdown-item" routerLink="#">Freelancer Activity</a></li>
              <li><a class="dropdown-item" routerLink="#">ATrack Progress</a></li>
              <li><a class="dropdown-item" routerLink="#">Report</a></li>
            </ul>
          </li>


          <li class="scroll-to-section"><a href="#">Messages</a></li>

          <div class="input__container">
            <div class="shadow__input"></div>
            <button class="input__button__shadow">
              <svg fill="none" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 20 20" height="20px" width="20px">
                <path
                  d="M4 9a5 5 0 1110 0A5 5 0 014 9zm5-7a7 7 0 104.2 12.6.999.999 0 00.093.107l3 3a1 1 0 001.414-1.414l-3-3a.999.999 0 00-.107-.093A7 7 0 009 2z"
                  fill-rule="evenodd" fill="#17202A"></path>
              </svg>
            </button>
            <input type="text" name="text" class="input__search" placeholder="What do you want to search?">
          </div>


          <div class="sub-menu-wrap" id="subMenu">
            <div class="sub-menu">
              <div class="user-info">
                <h3 style="color:#1C3879">{{customerInfos.Name}}</h3>
              </div>
              <hr>

              <div class="user-info">
                <a href="#" class="sub-menu-link">
                  <a href="#" class="sub-menu-link">

                    <a class="dropdown-item cursor-pointer" (click)="logout()">Logout</a>
                  
        </a>
          </a>
              </div>
            </div>
          </div>
        </nav>
        <hr>
        <li class="scroll-to-section"><a routerLink="#" class="active">Browse freelancers |</a></li>

        
        <li class="nav-item dropdown">
          <a class=""  role="button" data-bs-toggle="dropdown" aria-expanded="false">
            Software Dev
          </a>
          <ul class="dropdown-menu">
            <li><a class="dropdown-item" routerLink="">Web Development</a></li>
            <li><a class="dropdown-item" routerLink=""> Mobile Development</a></li>

          </ul>
        </li>
        
      </div>
    </div>
  </div>
</header>-->




 <!-- Topbar Start -->
 <div class="container-fluid bg-dark py-2 d-none d-md-flex">
  <div class="container">
      <div class="d-flex justify-content-between topbar">
          <div class="top-info">
              <small class="me-3 text-white-50"><a href="#"><i class="fas fa-map-marker-alt me-2 text-secondary"></i></a>Bizerte 7000, Tunis</small>
              <small class="me-3 text-white-50"><a href="#"><i class="fas fa-envelope me-2 text-secondary"></i></a>tuniWork@gmail.com</small>
          </div>
          <div id="note" class="text-secondary d-none d-xl-flex"><small>Note : We help you to Grow your Business</small></div>
          <div class="top-link">
              <a href="" class="bg-light nav-fill btn btn-sm-square rounded-circle"><i class="fab fa-facebook-f text-primary"></i></a>
              <a href="" class="bg-light nav-fill btn btn-sm-square rounded-circle"><i class="fab fa-twitter text-primary"></i></a>
              <a href="" class="bg-light nav-fill btn btn-sm-square rounded-circle"><i class="fab fa-instagram text-primary"></i></a>
              <a href="" class="bg-light nav-fill btn btn-sm-square rounded-circle me-0"><i class="fab fa-linkedin-in text-primary"></i></a>
          </div>
      </div>
  </div>
</div>
<!-- Topbar End -->

<!-- Navbar Start -->
<div class="container-fluid bg-primary">
  <div class="container">
      <nav class="navbar navbar-dark navbar-expand-lg py-0">
          <a href="index.html" class="navbar-brand">
              <h1 class="text-white fw-bold d-block">Tuni<span class="text-secondary">Work</span> </h1>
          </a>
          <button type="button" class="navbar-toggler me-0" data-bs-toggle="collapse" data-bs-target="#navbarCollapse">
              <span class="navbar-toggler-icon"></span>
          </button>
          <div>
              <div class="navbar-nav ms-auto mx-xl-auto p-0">
                  <a routerLink="homeC" class="nav-item nav-link">Home</a>
                  
                  <a routerLink="my-jobs" class="nav-item nav-link">MY JOBS</a>
                  <a routerLink="freelancers" class="nav-item nav-link">FRELANCERS</a>
                  <div class="nav-item dropdown">
                      <a href="#" class="nav-link dropdown-toggle" data-bs-toggle="dropdown">REPORTS</a>
                      <div class="dropdown-menu rounded">
                          <a href="blog.html" class="dropdown-item">TRANSACTION HISTORY</a>
                          <a href="team.html" class="dropdown-item">Our Team</a>
                          <a href="testimonial.html" class="dropdown-item">BUDGETS</a>
                          
                      </div>
                  </div>
                  <a href="#" class="nav-item nav-link" (click)="logout()">Logout</a>
              </div>
              
          </div>
          <div class="d-none d-xl-flex flex-shirink-0">
          </div>  
             
         
      </nav>
  </div>
</div>
<!-- Navbar End -->




    



<router-outlet></router-outlet>