<div class="container">
  <div class="card shadow mb-4">
    <div class="card-body">
      <h3>Public Job Offer Details</h3>
      <ul>
        <li><strong>Title:</strong> {{ publicJobOffer?.Title }}</li>
        <li><strong>Work Title:</strong> {{ publicJobOffer?.WorkTitle }}</li>
        <li><strong>Description:</strong> {{ publicJobOffer?.Description }}</li>

        <li><strong>Applied Freelancers:</strong></li>

        <li *ngIf="publicJobOffer?.AppliedFreelancers?.length">
          <div class="card">
            <div class="card-body">
              <ul class="list-group list-group-flush">
                <li *ngIf="publicJobOffer?.AppliedFreelancers?.length">
                  <div class="card">
                    <div class="card-body">
                      <ul class="list-group list-group-flush">
                        <li
                          *ngFor="
                            let freelancer of publicJobOffer?.AppliedFreelancers
                          "
                          class="list-group-item"
                        >
                          {{ freelancer.FreelancerName }} - Status:
                          {{ freelancer.Status }}
                          <button
                            *ngIf="freelancer.Status === 'pending'"
                            class="btn btn-success"
                            (click)="
                              acceptFreelancer(
                                publicJobOffer._id,
                                freelancer.FreelancerId
                              )
                            "
                          >
                            Accept
                          </button>
                          <button
                            *ngIf="freelancer.Status === 'accepted'"
                            class="btn btn-primary"
                            (click)="createContract(publicJobOffer._id)"
                          >
                            Send Contract
                          </button>
                        </li>
                      </ul>
                    </div>
                  </div>
                </li>
              </ul>
            </div>
          </div>
        </li>
      </ul>
    </div>
  </div>
</div>
