<ngx-spinner
  bdColor="rgba(51,51,51,0.8)"
  size="medium"
  color="#fff"
  type="ball-scale-multiple"
>
  <p style="font-size: 20px; color: white">Loading...</p>
</ngx-spinner>
<div class="text-center text-red-500 font-bold text-mm mt-8">
  {{ errorMessage }}
</div>

<form
  [formGroup]="freelancerForm"
  (ngSubmit)="test()"
  class="space-y-4 bg-white shadow-md rounded px-8 pt-6 pb-8 mb-4"
>
  <div class="mb-4">
    <label class="block text-gray-700 text-sm font-bold mb-2" for="Name">
      Name
    </label>
    <input
      class="shadow appearance-none border rounded w-full py-2 px-3 text-gray-700 leading-tight focus:outline-none focus:shadow-outline"
      type="text"
      formControlName="Name"
    />
  </div>
  <div class="mb-4">
    <label class="block text-gray-700 text-sm font-bold mb-2" for="Surname">
      Surname
    </label>
    <input
      class="shadow appearance-none border rounded w-full py-2 px-3 text-gray-700 leading-tight focus:outline-none focus:shadow-outline"
      type="text"
      formControlName="Surname"
    />
  </div>
  <div class="mb-4">
    <label class="block text-gray-700 text-sm font-bold mb-2" for="PhoneNumber">
      Phone Number
    </label>
    <input
      class="shadow appearance-none border rounded w-full py-2 px-3 text-gray-700 leading-tight focus:outline-none focus:shadow-outline"
      type="number"
      formControlName="PhoneNumber"
    />
  </div>
  <div class="mb-4">
    <label class="block text-gray-700 text-sm font-bold mb-2" for="Email">
      Email
    </label>
    <input
      class="shadow appearance-none border rounded w-full py-2 px-3 text-gray-700 leading-tight focus:outline-none focus:shadow-outline"
      type="email"
      formControlName="Email"
    />
  </div>
  <div class="mb-4">
    <label class="block text-gray-700 text-sm font-bold mb-2" for="Password">
      Password
    </label>
    <input
      class="shadow appearance-none border rounded w-full py-2 px-3 text-gray-700 leading-tight focus:outline-none focus:shadow-outline"
      type="password"
      formControlName="Password"
    />
  </div>
  <div class="mb-4">
    <label class="block text-gray-700 text-sm font-bold mb-2" for="HourlyRate">
      Hourly Pay Rate
    </label>
    <input
      class="shadow appearance-none border rounded w-full py-2 px-3 text-gray-700 leading-tight focus:outline-none focus:shadow-outline"
      type="number"
      formControlName="HourlyRate"
    />
  </div>
  <div class="mb-4">
    <label
      class="block text-gray-700 text-sm font-bold mb-2"
      for="PayPerTaskRate"
    >
      PayPer Tas kRate
    </label>
    <input
      class="shadow appearance-none border rounded w-full py-2 px-3 text-gray-700 leading-tight focus:outline-none focus:shadow-outline"
      type="number"
      formControlName="PayPerTaskRate"
    />
  </div>
  <form [formGroup]="form">
    <div class="mb-4">
      <label class="block text-gray-700 text-sm font-bold mb-2" for="languages">
        Work Title
      </label>
      <ng-multiselect-dropdown
        formControlName="workTitle"
        [placeholder]="'Work Title'"
        [settings]="dropdownSettings"
        [data]="dropdownList"
        (onSelect)="onItemSelect($event)"
        (onDeSelect)="onItemDeselect($event)"
        class="shadow appearance-none border rounded w-full py-2 px-3 text-gray-700 leading-tight focus:outline-none focus:shadow-outline"
      >
      </ng-multiselect-dropdown>
    </div>
    <div class="mb-4">
      <label class="block text-gray-700 text-sm font-bold mb-2" for="languages">
        Work Speciality
      </label>
      <ng-multiselect-dropdown
        formControlName="speciality"
        [placeholder]="'Work Speciality'"
        [settings]="dropdownSettings2"
        [data]="specialityList"
        (onSelect)="onSpecialitySelect($event)"
        (onDeSelect)="onSpecialityDeselect($event)"
        class="shadow appearance-none border rounded w-full py-2 px-3 text-gray-700 leading-tight focus:outline-none focus:shadow-outline"
      >
      </ng-multiselect-dropdown>
    </div>
    <div class="mb-4">
      <label class="block text-gray-700 text-sm font-bold mb-2" for="languages">
        Languages
      </label>
      <ng-multiselect-dropdown
        formControlName="languages"
        [placeholder]="'Languages You Work With'"
        [settings]="dropdownSettings3"
        [data]="languagesList"
        (onSelect)="onSpecialitySelect($event)"
        (onDeSelect)="onSpecialityDeselect($event)"
        class="shadow appearance-none border rounded w-full py-2 px-3 text-gray-700 leading-tight focus:outline-none focus:shadow-outline"
      >
      </ng-multiselect-dropdown>
    </div>
  </form>
  <div class="flex items-center justify-between">
    <button
      class="bg-blue-500 hover:bg-blue-700 text-white font-bold py-2 px-4 rounded focus:outline-none focus:shadow-outline"
      type="submit"
    >
      Submit
    </button>
  </div>
</form>
