<div>
  Filter Search :
  <select (change)="getOptionValue($event)">
    <option selected>-</option>
    <option
      *ngFor="let option of freeLancerInfos.Specialities"
      [value]="option"
    >
      {{ option }}
    </option>
  </select>
  <mat-icon *ngIf="showCancel" (click)="reset()">cancel</mat-icon>
</div>
<form [formGroup]="form">
  <div class="grid grid-cols-1 md:grid-cols-2 gap-6">
    <div class="mb-4 flex-item">
      <label class="block text-gray-700 text-sm font-bold mb-2" for="city">
        City
      </label>
      <ng-multiselect-dropdown
        id="cities"
        formControlName="cities"
        [placeholder]="'Select City'"
        [settings]="citiesDrowdownSettings"
        [data]="CitiesList"
        (onSelect)="onCitySelect($event)"
        (onDeSelect)="onCityDeselect($event)"
        class="shadow appearance-none border rounded w-full py-2 px-3 text-gray-700 leading-tight focus:outline-none focus:shadow-outline"
      ></ng-multiselect-dropdown>
    </div>
    <div class="mb-4 flex-item">
      <label
        class="block text-gray-700 text-sm font-bold mb-2"
        for="speciality"
      >
        Municipality
      </label>
      <ng-multiselect-dropdown
        id="municipality"
        formControlName="municipality"
        [placeholder]="'Select Municipality'"
        [settings]="MunicipalityDropdownSettings"
        [data]="MunicipalityList"
        (onSelect)="onSpecialitySelect($event)"
        (onDeSelect)="onSpecialityDeselect($event)"
        class="shadow appearance-none border rounded w-full py-2 px-3 text-gray-700 leading-tight focus:outline-none focus:shadow-outline"
      ></ng-multiselect-dropdown>
    </div>
  </div>
</form>
<div *ngIf="errMessage" class="error-message">{{ errMessage }}</div>
<div *ngFor="let item of MatchingJobs" class="job-offer-card">
  <div class="job-offer-content" (click)="CheckOffre(item._id)">
    <h2 class="job-title">{{ item.Title }}</h2>
    <div class="company-name">Offering Company : {{ item.CompanyName }}</div>
    <p class="job-description">{{ item.Description }}</p>
    <div class="job-note">Note : {{ item.Note }}</div>

    <div class="job-specialities">
      <strong>Required Specialities:</strong>
      <ul>
        <li *ngFor="let speciality of item.WorkSpeciality">
          {{ speciality }}
        </li>
      </ul>
    </div>

    <div class="payment-details">
      <div *ngIf="item.PaymentMethod.PayPerTask">
        <div>
          Experience Level : {{ item.PaymentMethod.PayPerTask.ExperienceLevel }}
        </div>
        <div>Fixed Price : {{ item.PaymentMethod.PayPerTask.FixedPrice }}</div>
      </div>

      <div *ngIf="item.PaymentMethod.PayPerHours">
        <div>
          Experience Level :
          {{ item.PaymentMethod.PayPerHours.ExperienceLevel }}
        </div>
        <div>
          Hours Per Week : {{ item.PaymentMethod.PayPerHours.HoursPerWeek }}
        </div>
        <div>
          Estimated Duration : {{ item.PaymentMethod.PayPerHours.Duration }}
        </div>
        <div>
          Pay Per Hour : {{ item.PaymentMethod.PayPerHours.PayPerHour }}
        </div>
      </div>

      <div
        *ngIf="item.PaymentMethodVerificationStatus"
        class="payment-method-trusted"
      >
        Payment Method Trusted
      </div>
    </div>

    <div class="company-info">
      <strong>About the Company:</strong>
      <div>Total Work Offered : {{ item.TotalWorkOfferd }}</div>
      <div>Total Money Spent : {{ item.TotalMoneyPayed }}</div>
    </div>
  </div>
  <div class="job-actions">
    <button
      *ngIf="!isWorkOfferSaved(item?._id)"
      type="button"
      (click)="SavePWO(item?._id, item?.Title, item?.Description)"
      class="save-button"
    >
      Save
    </button>
    <button
      *ngIf="isWorkOfferSaved(item?._id)"
      type="button"
      (click)="unsavePwo(item?._id)"
      class="unsave-button"
    >
      Unsave
    </button>
    <button
      type="button"
      *ngIf="!isWorkOfferApplyed(item?._id)"
      (click)="PWOApply(item?._id)"
      class="apply-button"
    >
      Apply
    </button>
    <button
      type="button"
      *ngIf="isWorkOfferApplyed(item?._id)"
      (click)="PWOUnapply(item?._id)"
      class="unapply-button"
    >
      Unapply
    </button>
  </div>
</div>
