<div style="margin-top: -50px; margin-bottom: 50px;">
  <input type="checkbox" id="check" checked> <!-- Make sure to add the "checked" attribute here -->
  <label for="check">
    <i style="margin-top:50px;" class="fas fa-bars" id="btn"></i>
    <i style="margin-top:70px;" class="fas fa-times" id="cancel"></i>
  </label>

  <div class="sidebar">
    <ul>
      <li><a routerLink="../profile"> <i class="fa-solid fa-user"></i> My Info</a></li>
      <li><a routerLink="../security"><i class="fa-solid fa-lock"></i>Security</a></li>
      <li><a href="#"><i class="fa-solid fa-address-card"></i>Identity <br> Verification</a></li>
      <li><a href="#">  <i class="fa-solid fa-right-from-bracket"> </i>Log Out</a></li>
    </ul>
  </div>
  <section></section>
</div>
<app-footer></app-footer>
