<!--{{ errMessage }}
<h5 *ngIf="mailError">
  You Need to Verifiy Your Mail First Before Logging In
  <button (click)="sendEmail()" type="button">Send Verification Email</button>
</h5>
<form
  [formGroup]="loginForm"
  (ngSubmit)="submitLoginForm()"
  class="space-y-4 bg-white shadow-md rounded px-8 pt-6 pb-8 mb-4"
>
  <label class="block text-gray-700 text-sm font-bold mb-2" for="Email">
    Email
  </label>
  <input
    class="shadow appearance-none border rounded w-full py-2 px-3 text-gray-700 leading-tight focus:outline-none focus:shadow-outline"
    type="email"
    formControlName="Email"
  />
  <label class="block text-gray-700 text-sm font-bold mb-2" for="Password">
    Password
  </label>
  <input
    class="shadow appearance-none border rounded w-full py-2 px-3 text-gray-700 leading-tight focus:outline-none focus:shadow-outline"
    type="password"
    formControlName="Password"
  />
  <label
    class="block text-gray-700 text-sm font-bold mb-2 cursor-pointer"
    for="Password"
    (click)="routeFP()"
  >
    Forgot Password ?
  </label>
  <button type="submit">Login</button>
</form>
<asl-google-signin-button
  shape="circle"
  type="standard"
  size="medium"
  text="signin_with"
  width="200-400"
  theme="filled_black"
  logo_alignment="center"
></asl-google-signin-button>-->

<div class="box-of-star1">
  <div class="star star-position1"></div>
  <div class="star star-position2"></div>
  <div class="star star-position3"></div>
  <div class="star star-position4"></div>
  <div class="star star-position5"></div>
  <div class="star star-position6"></div>
  <div class="star star-position7"></div>
</div>
<div class="box-of-star2">
  <div class="star star-position1"></div>
  <div class="star star-position2"></div>
  <div class="star star-position3"></div>
  <div class="star star-position4"></div>
  <div class="star star-position5"></div>
  <div class="star star-position6"></div>
  <div class="star star-position7"></div>
</div>
<div class="box-of-star3">
  <div class="star star-position1"></div>
  <div class="star star-position2"></div>
  <div class="star star-position3"></div>
  <div class="star star-position4"></div>
  <div class="star star-position5"></div>
  <div class="star star-position6"></div>
  <div class="star star-position7"></div>
</div>
<div class="box-of-star4">
  <div class="star star-position1"></div>
  <div class="star star-position2"></div>
  <div class="star star-position3"></div>
  <div class="star star-position4"></div>
  <div class="star star-position5"></div>
  <div class="star star-position6"></div>
  <div class="star star-position7"></div>
</div>
<div data-js="astro" class="astronaut">
  <div class="head"></div>
  <div class="arm arm-left"></div>
  <div class="arm arm-right"></div>
  <div class="body">
    <div class="panel"></div>
  </div>
  <div class="leg leg-left"></div>
  <div class="leg leg-right"></div>
  <div class="schoolbag"></div>

<div class="container">
  <div class="heading">Sign In</div>
  <form action="" class="form" [formGroup]="loginForm"
  (ngSubmit)="submitLoginForm()">

    <input required="" class="input" type="email" name="email" id="email" placeholder="E-mail"  formControlName="Email">
    <input required="" class="input" type="password" name="password" id="password" placeholder="Password" formControlName="Password">
    <span class="forgot-password"><a href="#">Forgot Password ?</a></span>
    <input class="login-button" type="submit" value="Sign In">
    
  </form>
  <div class="social-account-container">
      <span class="title">Or Sign in with</span>
      <div class="social-accounts">
        
        <button class="btn">
          <asl-google-signin-button>
          <svg class="svg" xmlns="http://www.w3.org/2000/svg" height="1em" viewBox="0 0 488 512">
            <path d="M488 261.8C488 403.3 391.1 504 248 504 110.8 504 0 393.2 0 256S110.8 8 248 8c66.8 0 123 24.5 166.3 64.9l-67.5 64.9C258.5 52.6 94.3 116.6 94.3 256c0 86.5 69.1 156.6 153.7 156.6 98.2 0 135-70.4 140.8-106.9H248v-85.3h236.1c2.3 12.7 3.9 24.9 3.9 41.4z"></path>
            </svg>
          </asl-google-signin-button>
          </button>
          <button class="btn">
            <svg class="svg" xmlns="http://www.w3.org/2000/svg" height="1em" viewBox="0 0 320 512">
              <path
              d="M80 299.3V512H196V299.3h86.5l18-97.8H196V166.9c0-51.7 20.3-71.5 72.7-71.5c16.3 0 29.4 .4 37 1.2V7.9C291.4 4 256.4 0 236.2 0C129.3 0 80 50.5 80 159.4v42.1H14v97.8H80z"
            ></path>
            </svg>
          </button>
          
        <button class="btn">
          <svg id="github" viewBox="0 0 24 24" data-name="Layer 1" xmlns="http://www.w3.org/2000/svg" fill="#0092E4" height="40" width="40">
            <path d="M12,2.2467A10.00042,10.00042,0,0,0,8.83752,21.73419c.5.08752.6875-.21247.6875-.475,0-.23749-.01251-1.025-.01251-1.86249C7,19.85919,6.35,18.78423,6.15,18.22173A3.636,3.636,0,0,0,5.125,16.8092c-.35-.1875-.85-.65-.01251-.66248A2.00117,2.00117,0,0,1,6.65,17.17169a2.13742,2.13742,0,0,0,2.91248.825A2.10376,2.10376,0,0,1,10.2,16.65923c-2.225-.25-4.55-1.11254-4.55-4.9375a3.89187,3.89187,0,0,1,1.025-2.6875,3.59373,3.59373,0,0,1,.1-2.65s.83747-.26251,2.75,1.025a9.42747,9.42747,0,0,1,5,0c1.91248-1.3,2.75-1.025,2.75-1.025a3.59323,3.59323,0,0,1,.1,2.65,3.869,3.869,0,0,1,1.025,2.6875c0,3.83747-2.33752,4.6875-4.5625,4.9375a2.36814,2.36814,0,0,1,.675,1.85c0,1.33752-.01251,2.41248-.01251,2.75,0,.26251.1875.575.6875.475A10.0053,10.0053,0,0,0,12,2.2467Z"></path>
          </svg>
        </button>
      </div>
    </div>
    <span class="agreement"><a href="#">Learn user licence agreement</a></span>
</div>




