<form [formGroup]="publicJobOfferForm" (ngSubmit)="onSubmit()">
  <!-- Title -->
  <div class="form-group">
    <label for="Title">Title:</label>
    <input
      type="text"
      id="Title"
      formControlName="Title"
      class="form-control"
      required
    />
  </div>

  <!-- Description -->
  <div class="form-group">
    <label for="Description">Description:</label>
    <textarea
      id="Description"
      formControlName="Description"
      class="form-control"
      rows="3"
      required
    ></textarea>
  </div>

  <div class="form-group" style="display:none" >
    <label for="CompanySignature">Signature:</label>
    <img id="CompanySignature" [src]="publicJobOfferForm.get('CompanySignature')?.value" alt="Company Signature" />
  </div>


  <!-- Note -->
  <div class="form-group">
    <label for="Note">Note:</label>
    <textarea
      id="Note"
      formControlName="Note"
      class="form-control"
      rows="2"
    ></textarea>
  </div>

  <!-- PayPerTask bch narja3 LEL PART HEDHI 5aterha table w dra chnawa -->
  <div formGroupName="PayPerTask">
    <div class="form-group">
      <label for="ExperienceLevel">Experience Level:</label>
      <input
        type="text"
        id="ExperienceLevel"
        formControlName="ExperienceLevel"
        class="form-control"
      />
    </div>
    <div class="form-group">
      <label for="FixedPrice">Fixed Price:</label>
      <input
        type="text"
        id="FixedPrice"
        formControlName="FixedPrice"
        class="form-control"
      />
    </div>
  </div>

  <!-- CompanyName -->
  <div class="form-group" style="display: none">
    <label for="CompanyName">Company Name:</label>
    <input
      type="text"
      id="CompanyName"
      formControlName="CompanyName"
      class="form-control"
      required
    />
  </div>

  <!-- CompanyId bch nrodou invis w bch njibou mel local host-->
  <div class="form-group" style="display: none">
    <label for="CompanyId">Company ID:</label>
    <input
      type="text"
      id="CompanyId"
      formControlName="CompanyId"
      class="form-control"
      required
    />
  </div>
  <form [formGroup]="form">
    <div class="grid grid-cols-1 md:grid-cols-2 gap-6">
      <div class="mb-4 flex-item">
        <label class="block text-gray-700 text-sm font-bold mb-2" for="city">
          City
        </label>
        <ng-multiselect-dropdown
          id="cities"
          formControlName="cities"
          [placeholder]="'Select City'"
          [settings]="citiesDrowdownSettings"
          [data]="CitiesList"
          (onSelect)="onCitySelect($event)"
          (onDeSelect)="onCityDeselect($event)"
          class="shadow appearance-none border rounded w-full py-2 px-3 text-gray-700 leading-tight focus:outline-none focus:shadow-outline"
        ></ng-multiselect-dropdown>
      </div>
      <div class="mb-4 flex-item">
        <label
          class="block text-gray-700 text-sm font-bold mb-2"
          for="speciality"
        >
          Municipality
        </label>
        <ng-multiselect-dropdown
          id="municipality"
          formControlName="municipality"
          [placeholder]="'Select Municipality'"
          [settings]="MunicipalityDropdownSettings"
          [data]="MunicipalityList"
          (onSelect)="onSpecialitySelect($event)"
          (onDeSelect)="onSpecialityDeselect($event)"
          class="shadow appearance-none border rounded w-full py-2 px-3 text-gray-700 leading-tight focus:outline-none focus:shadow-outline"
        ></ng-multiselect-dropdown>
      </div>
    </div>
    <div class="grid grid-cols-1 md:grid-cols-2 gap-6">
      <div class="mb-4 flex-item">
        <label
          class="block text-gray-700 text-sm font-bold mb-2"
          for="workTitle"
        >
          Work Title
        </label>
        <ng-multiselect-dropdown
          id="workTitles"
          formControlName="workTitles"
          [placeholder]="'Select Work Title'"
          [settings]="WorkTitleSettings"
          [data]="WorkTitleList"
          (onSelect)="onItemSelect($event)"
          (onDeSelect)="onItemDeselect($event)"
          class="shadow appearance-none border rounded w-full py-2 px-3 text-gray-700 leading-tight focus:outline-none focus:shadow-outline"
        ></ng-multiselect-dropdown>
      </div>

      <!-- Work Speciality Dropdown -->
      <div class="mb-4 flex-item">
        <label
          class="block text-gray-700 text-sm font-bold mb-2"
          for="speciality"
        >
          Work Speciality
        </label>
        <ng-multiselect-dropdown
          id="specialities"
          formControlName="specialities"
          [placeholder]="'Select Work Speciality'"
          [settings]="SpecialitySettings"
          [data]="SpecialityList"
          (onSelect)="onSpecialitySelect($event)"
          (onDeSelect)="onSpecialityDeselect($event)"
          class="shadow appearance-none border rounded w-full py-2 px-3 text-gray-700 leading-tight focus:outline-none focus:shadow-outline"
        ></ng-multiselect-dropdown>
      </div>
    </div>
  </form>

  <!-- Submit Button -->
  <button type="submit" class="btn btn-primary">Create Public Job Offer</button>
</form>
