<p>customer-login-page works!</p>

<section style="background-image: url('/assets/image.jpg'); background-size: cover; background-position: center;">
    <div class="form-box">
        <div class="form-value">
            <form >
                <h2>Login</h2>
                <div class="inputbox">
                    <input type="email" >
                    <label for="email">Email</label>
                </div>
                <div class="inputbox">
                    <input type="password">
                    <label for="password">Password</label>
                </div>
                <div class="forget">
                    <label for="remember">
                        <input type="checkbox" > Check
                        <a href="#">forgot</a>
                    </label>
                </div>
                <button type="submit">Log in</button>
                <div class="register">
                    <p>No Lorem ipsum dolor sit amet consectetur <a href="#">Sign up</a></p>
                </div>
            </form>
        </div>
    </div>
</section>

<script type="module" src="https://unpkg.com/ionicons@5.5.2/dist/ionicons/ionicons.esm.js"></script>
<script nomodule src="https://unpkg.com/ionicons@5.5.2/dist/ionicons/ionicons.js"></script>