<div class="pre-header">
  <div class="container">
    <div class="row">
      <div class="col-lg-8 col-sm-8 col-7">
        <ul class="info">
          <li>
            <a href="#"><i class="fa fa-envelope"></i>jihed</a>
          </li>
          <li>
            <a href="#"><i class="fa fa-phone"></i>010-020-0340</a>
          </li>
        </ul>
      </div>
      <div class="col-lg-4 col-sm-4 col-5">
        <ul class="social-media">
          <li>
            <a href="#"><i class="fa fa-facebook"></i></a>
          </li>
          <li>
            <a href="#"><i class="fa fa-behance"></i></a>
          </li>
          <li>
            <a href="#"><i class="fa fa-twitter"></i></a>
          </li>
          <li>
            <a href="#"><i class="fa fa-dribbble"></i></a>
          </li>
        </ul>
      </div>
      <!-- .row -->
    </div>
    <!-- .container -->
  </div>
  <!-- .topbar -->

  <nav
    style="background-color: #607eaa"
    class="navbar navbar-expand-lg navbar-light shadow-sm"
  >
    <div class="container">
      <a class="navbar-brand" href="#">
        <img
          style="height: 65px; width: 200px"
          src="../../../assets/templateDental/img/icon.png"
        />
      </a>

      <div>
        <ul class="navbar-nav ml-auto">
          <li class="nav-item active">
            <a
              style="font-weight: bold; font-size: 16px; color: #eae3d2"
              class="nav-link"
              href="#"
              >Homepage</a
            >
          </li>
          <li class="nav-item">
            <a
              style="font-weight: bold; font-size: 16px; color: #1c3879"
              class="nav-link"
              href="#about"
              >About</a
            >
          </li>
          <li class="nav-item">
            <a
              style="font-weight: bold; font-size: 16px; color: #1c3879"
              class="nav-link"
              href="#services"
              >Services</a
            >
          </li>
          <li class="nav-item">
            <a
              style="font-weight: bold; font-size: 16px; color: #1c3879"
              class="nav-link"
              href="#contact"
              >Contact</a
            >
          </li>
          <li class="nav-item">
            <a
              class="btn btn-primary ml-lg-3"
              href="/login"
              style="
                font-weight: bold;
                font-size: 16px;
                color: #607eaa;
                background-color: #eae3d2;
                transition: background-color 0.3s;
              "
              onmouseover="this.style.color='#fff'"
              onmouseover="this.style.backgroundColor='#f5d893'"
              onmouseout="this.style.backgroundColor='#EAE3D2'"
            >
              Login / Sign Up
            </a>
          </li>
        </ul>
      </div>
      <!-- .navbar-collapse -->
    </div>
    <!-- .container -->
  </nav>
  <router-outlet></router-outlet>
</div>
