<div
  *ngFor="let item of freeLancerInfos.PendingWorkOffers"
  class="job-offer-card"
>
  <div class="job-offer-content" (click)="CheckOffre(item?.WorkId)">
    <div *ngIf="errMessage" class="error-message">{{ errMessage }}</div>
    <h2 class="job-title">{{ item.PWOInfos.TitlePWO }}</h2>
    <p class="job-description">{{ item.PWOInfos.DescriptionPWO }}</p>
  </div>
  <div class="job-actions">
    <button
      type="button"
      *ngIf="isWorkOfferApplyed(item?.PublicJobOfferId)"
      (click)="PWOUnapply(item?.PublicJobOfferId)"
      class="unapply-button"
    >
      Unapply
    </button>
  </div>
</div>
