<div *ngIf="!expired">
  <form [formGroup]="PasswordForm" (ngSubmit)="submitPassReset()">
    {{ errMessage }}
    <label class="block text-gray-700 text-sm font-bold mb-2" for="Email">
      Password
    </label>
    <input
      class="shadow appearance-none border rounded w-full py-2 px-3 text-gray-700 leading-tight focus:outline-none focus:shadow-outline"
      type="password"
      formControlName="newPassword"
    />
    <label class="block text-gray-700 text-sm font-bold mb-2" for="Email">
      Confirm Password
    </label>
    <input
      class="shadow appearance-none border rounded w-full py-2 px-3 text-gray-700 leading-tight focus:outline-none focus:shadow-outline"
      type="password"
      formControlName="newPasswordConfirm"
    />
    <button type="submit">Submit</button>
  </form>
</div>
<div *ngIf="expired">
  <h2>
    Link Expired !
    <span
      (click)="ResendForgetPass()"
      class="block text-gray-700 text-sm font-bold mb-2 cursor-pointer"
      >Send Link Again</span
    >
  </h2>
</div>
