<div class="container">
<div class="form-container">

  <div class="heading">Sign in</div>
    <ngx-spinner
   
    size="medium"

  >

  <div class="pyramid-loader">
    <div class="wrapper">
      <span class="side side1"></span>
      <span class="side side2"></span>
      <span class="side side3"></span>
      <span class="side side4"></span>
      <span class="shadow"></span>
    </div>  
  </div>
      
  
  </ngx-spinner>


  <div class="text-center text-red-500 font-bold mt-2">
    {{ errorMessage }}
  </div>


  <div class="avatar">
    <img [src]="testimg"  (click)="fileInput.click()"  class="avatar"   />
  </div>


  

  <mat-progress-bar
    *ngIf="uploadProgress !== undefined"
    mode="determinate"
    [value]="uploadProgress"
    class="mt-4 w-1/2"
    style="height: 10px"
  ></mat-progress-bar>


  <form class="form" [formGroup]="customerForm"
  (ngSubmit)="test()">

    <div class="form-group">
     
       
      <input required="" class="input" type="text" formControlName="Name" placeholder="Name" />
  
      </div>

      <div class="form-group">
      
        <input required="" class="input" type="text" formControlName="LastName" placeholder="LastName"/>
    
        </div>

        <div class="form-group">
       
          <input required="" class="input" type="text" formControlName="Location" placeholder="Location" />

      </div>
      <div class="form-group">
       
       
        <input required="" class="input" type="text" formControlName="PhoneNumber" placeholder="Phone Number"/>
      </div>
      <div class="form-group">
        
        <input required="" class="input" type="email" formControlName="Email" placeholder="Email"/>

      </div>
      <div class="form-group">
      
        <input required="" class="input" type="password" formControlName="Password" placeholder="Password"/>
      
      </div>
    

    <form class="form" [formGroup]="form">
      <div class="grid grid-cols-1 md:grid-cols-2 gap-6">
        <div class="mb-4 flex-item">
         
          <ng-multiselect-dropdown
            id="cities"
            
            formControlName="cities"
            [placeholder]="'Select City'"
            [settings]="citiesDrowdownSettings"
            [data]="CitiesList"
            (onSelect)="onCitySelect($event)"
            (onDeSelect)="onSpecialityDeselect($event)"
          
          ></ng-multiselect-dropdown>
        </div>
        <div class="mb-4 flex-item">
         
      
          <ng-multiselect-dropdown
            id="municipality"
        
            formControlName="municipality"
            [placeholder]="'Select Municipality    .'"
            [settings]="MunicipalityDropdownSettings"
            [data]="MunicipalityList"
            (onSelect)="onSpecialitySelect($event)"
            (onDeSelect)="onSpecialityDeselect($event)"
           
          ></ng-multiselect-dropdown>
        </div>
      </div>

      
    </form>


    <input class="login-button" type="submit" value="Sign In">
  </form>
</div>
<div>

  <input  type="file"  #fileInput  class="hidden"  (change)="uploadImage($event)" />
</div>

</div>

