<nav class="flex items-center justify-between bg-gray-800 p-4">
  <div class="flex items-center">
    <a class="text-white text-xl font-bold" routerLink="/freelancer">Home</a>
  </div>
  <div class="flex items-center space-x-4">
    <a class="text-white" routerLink="/freelancer/profile">Profile</a>
    <a class="text-white cursor-pointer" (click)="logout()">Logout</a>
  </div>
  <h3 class="text-white">Connected Freelancers: {{ connectedUsers }}</h3>
</nav>



<button (click)="toggleNotifications()">
  <img src="../../../assets/images/notif.png" alt="Notification Bell">
  <span>{{ unreadNotificationCount }}</span>
</button>

<div *ngIf="showNotifications">
  <div *ngFor="let notification of notifications" class="notification">
    <p>{{ notification.message }}</p>
  </div>
</div>


<router-outlet></router-outlet>
