<div class="container">
  <h2>Edit Private Job Offer</h2>

  <form [formGroup]="privateJobEditForm" (ngSubmit)="onSubmit()">
    <div class="mb-3">
      <label for="Title" class="form-label">Title</label>
      <input type="text" class="form-control" id="Title" formControlName="Title" required>
    </div>

    <div class="mb-3">
      <label for="Description" class="form-label">Description</label>
      <textarea class="form-control" id="Description" formControlName="Description" required></textarea>
    </div>

    <div class="mb-3">
      <label for="Note" class="form-label">Note</label>
      <textarea class="form-control" id="Note" formControlName="Note"></textarea>
    </div>

    <div class="mb-3">
      <label for="PayPerTask" class="form-label">Pay Per Task</label>
      <input type="text" class="form-control" id="PayPerTask" formControlName="PayPerTask" required>
    </div>

    <div class="mb-3">
      <label for="PayPerHour" class="form-label">Pay Per Hour</label>
      <input type="text" class="form-control" id="PayPerHour" formControlName="PayPerHour" required>
    </div>

    <div class="mb-3">
      <label for="CompanyName" class="form-label">Company Name</label>
      <input type="text" class="form-control" id="CompanyName" formControlName="CompanyName" required>
    </div>

    <div class="mb-3">
      <label for="CompanyLocation" class="form-label">Company Location</label>
      <input type="text" class="form-control" id="CompanyLocation" formControlName="CompanyLocation">
    </div>

    <div class="mb-3">
      <label for="TotalWorkOffered" class="form-label">Total Work Offered</label>
      <input type="text" class="form-control" id="TotalWorkOffered" formControlName="TotalWorkOfferd" required>
    </div>

    <div class="mb-3">
      <label for="TotalMoneyPayed" class="form-label">Total Money Payed</label>
      <input type="text" class="form-control" id="TotalMoneyPayed" formControlName="TotalMoneyPayed" required>
    </div>

    <button type="submit" class="btn btn-primary">Update Private Job Offer</button>
  </form>
</div>
