<section id="venue" class="counter parallax-section">
  <div class="content">
      <div class="container">
          <div class="row">
              <div class="col-lg-3 col-md-6 col-sm-12">
                  <div class="count-item decoration-bottom">
                      <strong style="font-size: 36px ; color:#1C3879"  >126</strong>
                      <span style="font-size: 28px ; color:#1C3879"  >Projects</span>
                  </div>
              </div>
              <div class="col-lg-3 col-md-6 col-sm-12">
                  <div class="count-item decoration-top">
                      <strong style="font-size: 36px ; color:#1C3879"  >63</strong>
                      <span style="font-size: 28px ; color:#1C3879" > Happy Clients</span>
                  </div>
              </div>
              <div class="col-lg-3 col-md-6 col-sm-12">
                  <div class="count-item decoration-bottom">
                      <strong style="font-size: 36px ; color:#1C3879"  >18</strong>
                      <span style="font-size: 28px ; color:#1C3879"  >Awards Wins</span>
                  </div>
              </div>
              <div class="col-lg-3 col-md-6 col-sm-12">
                  <div class="count-item">
                      <strong style="font-size: 36px ; color:#1C3879" >27</strong>
                      <span style="font-size: 28px ; color:#1C3879"  >Countries</span>
                  </div>
              </div>
          </div>
      </div>
  </div>
</section>

